.root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px 32px;
  border: 2px solid #fff;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.15);
  margin: 10px auto;
  background: #fff;
  cursor: pointer;
  width: calc(100% - 40px);
  height: 100px;
}

.root:hover {
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
}

.selected {
  border-color: #ff0000;
}

.firstNameLastName,
.jobTitle,
.emailAddress {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.firstNameLastName {
  color: #333333;
  font-size: 18px;
  font-weight: 700;
}

.jobTitle {
  color: #e74c3c;
  font-size: 14px;
  font-weight: 400;
}

.emailAddress {
  color: #666666;
  font-size: 12px;
  line-height: 1.8em;
}
